<section id="reviews-nav">
    <button mat-button routerLink="/restaurants" routerLinkActive="active">
        <img src="../../assets/images/whiteArrowLeft.png" alt="Go Back">
        <span class="descriptor">Back</span>
    </button>
    <button mat-button routerLink="/writtenreview" routerLinkActive="active">
        <span class="descriptor">Thoughts?</span>
        <img src="../../assets/images/plus-white.png" alt="Add Review">
    </button>
</section>

<!-- Only 6 rows of reviews per mobilepage-->
<main id="review-display">
    <table>
        <tr>
            <td>
                <div class="rating">
                    <strong class=rate-num>5</strong>
                    <img src="../../assets/images/star_full.png" alt="Star">
                    <br>
                    <strong class="name">Sina</strong>
                </div>
                <p class="thoughts">I thought this restaurant was really something special!</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="rating">
                    <strong class=rate-num>5</strong>
                    <img src="../../assets/images/star_full.png" alt="Star">
                    <br>
                    <strong class="name">Sina</strong>
                </div>
                <p class="thoughts">I thought this restaurant was really something special!</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="rating">
                    <strong class=rate-num>5</strong>
                    <img src="../../assets/images/star_full.png" alt="Star">
                    <br>
                    <strong class="name">Sina</strong>
                </div>
                <p class="thoughts">I thought this restaurant was really something special!</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="rating">
                    <strong class=rate-num>5</strong>
                    <img src="../../assets/images/star_full.png" alt="Star">
                    <br>
                    <strong class="name">Sina</strong>
                </div>
                <p class="thoughts">I thought this restaurant was really something special!</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="rating">
                    <strong class=rate-num>5</strong>
                    <img src="../../assets/images/star_full.png" alt="Star">
                    <br>
                    <strong class="name">Sina</strong>
                </div>
                <p class="thoughts">I thought this restaurant was really something special!</p>
            </td>
        </tr>
        <tr>
            <td>
                <div class="rating">
                    <strong class=rate-num>5</strong>
                    <img src="../../assets/images/star_full.png" alt="Star">
                    <br>
                    <strong class="name">Sina</strong>
                </div>
                <p class="thoughts">I thought this restaurant was really something special!</p>
            </td>
        </tr>
    </table>
</main>

<section class=listing>
    <button mat-button id=previous>
        <img src="../../assets/images/arrowTipLeft.png" alt="Previous">
    </button>
    <button class=page>1</button>
    <button class=page>2</button>
    <button class=page>3</button>
    <button class=page>4</button>
    <button mat-button id=next>
        <img src="../../assets/images/arrowTipRight.png" alt="Next">
    </button>
</section>