<section id="graph">
    <h1>Estimated <br>Travel Time</h1>
    <img src="../../assets/images/circle.svg" alt="Pie Graph">
    <div id="footArea">
        <button routerLink="/estimators" routerLinkActive="active">
            <span>Edit Trip</span>
            <img src="../../assets/images/arrowLeft.png" alt="Arrow Left">
        </button>
        <div id="legend">
            <img src="../../assets/images/whiteSquare.png" alt="White">
            <span>Airplane Hours</span>
            <br>
            <img src="../../assets/images/graySquare.png" alt="Gray">
            <span>Airport Hours</span>
        </div>
    </div>
</section>