<!--
    TODO: Add a time picker as the first two form components
    https://material-ui-pickers.dev/getting-started/installation 
-->

<form [ngClass]="isSpecific ? 'specific' : 'general'">

    <!-- Below is the elements for general input fields-->

    <!-- For going to specific filter form options-->
    <button (click)="isSpecific = true;" color="primary" id=specific mat-button>Specific Filter
        <img src="../../../assets/images/arrow.png" alt="Right Arrow" id=rightArrow>
    </button>

    <!-- The start time range -->
    <div class=from>
        <label for=from>From</label> <br>
        <input name=from [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6">
        <owl-date-time [pickerType]="'timer'" [hour12Timer]="false" [pickerMode]="'dialog'" #dt6>
        </owl-date-time>
    </div>

    <!-- The end time range -->
    <div class=to>
        <label for=to>To</label> <br>
        <input name=to [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
        <owl-date-time [pickerType]="'timer'" [hour12Timer]="false" [pickerMode]="'dialog'" #dt5>
        </owl-date-time>
    </div>

    <!-- Select Country Dropdown
        TODO: Check out resource https://demo.mobiscroll.com/angular/select/country-picker#theme=material-dark
    -->
    <select class=country>
        <option>Select Country</option>
        <option>Canada</option>
    </select>
    <!-- Select City/Region Dropdown -->
    <select class=region>
        <option>Select City</option>
        <option>Toronto ON</option>
    </select>

    <!-- Select Departure Date -->
    <input type=date>

    <!-- The remaining elements are for specific for fields -->

    <!-- For going to specific filter form options-->
    <button (click)="isSpecific = false;" color="primary" id=general mat-button>
        <img src="../../../assets/images/arrowLeft.png" alt="Right Arrow" id=leftArrow>
        General Filter
    </button>

    <!-- Terminal Selection
        TODO: Implement mat-select and mat-options for terminals & gates
    -->
    <div class=terminals>
        <label for=terminals>Terminal</label> <br>
        <select name="terminals">
            <option>T1</option>
            <option>T2</option>
            <option>T3</option>
        </select>
    </div>

    <div class=gates>
        <label for=gates>Gate</label> <br>
        <select name="gates">
            <option>A5</option>
            <option>B2</option>
            <option>C7</option>
        </select>
    </div>

    <select class="flightNum">
        <option>Flight #</option>
        <option>15H53C</option>
        <option>BB95QO</option>
        <option>QCB991</option>
    </select>

    <select class="airline">
        <option>Airline</option>
        <option>Air Canada</option>
        <option>Air France</option>
        <option>Turkish Airlines</option>
    </select>

    <!-- Submit button for searching-->
    <input routerLink="/result" routerLinkActive="active" type=submit value=Search>

</form>