<!--
    Note: mat-slide-toggle has the same input properties
            as <input type="checkbox">
-->

<button routerLink="/settings" id="back" mat-button>
    <img src="../../../assets/images/whiteArrowLeft.png" alt="Left Arrow">
    <span>Settings</span>
</button>
<h3>Notify me about...</h3>
<ul id="notify">
    <li (click)="isChanged = true">
        <mat-slide-toggle>Delayed Flights</mat-slide-toggle>
    </li>
    <li>
        <mat-slide-toggle>Schedule Updates</mat-slide-toggle>
    </li>
    <li>
        <mat-slide-toggle>Location Changes</mat-slide-toggle>
    </li>
    <li>
        <mat-slide-toggle>Restaurant Suggestions</mat-slide-toggle>
    </li>
</ul>

<h4>Enable Push Notifications?</h4>
<div class="push">
    <button mat-icon-button>
        <mat-icon>thumb_up_alt</mat-icon><br>
    </button>
    <button mat-icon-button>
        <mat-icon>thumb_down_alt</mat-icon> <br>
    </button>
</div>