#back {
    font-size: 25px;
    color: white;

    img[alt="Left Arrow"] {
        width: 50px;
        margin: 15px;
    }
}

h3,
h4 {
    font-size: 25px;
    color: white;
    font-weight: normal;
    margin: 15px;
}