.listing {
    margin: 15px 5px 0px 5px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-align: center;

    .page {
        border: white solid 2px;
        background: none;
        padding: 5px 12px;
        font-size: 20px;
        margin: 0px 5px;
        width: fit-content;
        color: white;
    }

    #previous {
        img[alt="Previous"] {
            width: 40px;
        }
    }

    #next {
        img[alt="Next"] {
            width: 40px;
        }
    }

    th {
        border-right: solid white 2px;
        border-bottom: solid white 2px;
        padding: 0px 7px;
    }

    td {
        padding: 10px 0px;
        border-bottom: dotted white 2px;

    }

    .lastfield {
        border-right: none;
    }


}